@model List<Testimonial>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Testimonial</h1>
            <div class="d-flex justify-content-between my-3">
                <a asp-area="admin" asp-controller="testimonial" asp-action="index" class="btn btn-secondary">Go Back</a>
                <a asp-area="admin" asp-controller="testimonial" asp-action="create" class="btn btn-success">Create</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Text
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var testimonial in Model)
                        {
                        <tr>
                            <td class="py-1">
                                <img src="~/assets/uploads/images/@testimonial.Image.Name" alt="image" />
                            </td>
                            <td>
                                @testimonial.Text
                            </td>
                            <td>
                                @testimonial.User
                            </td>
                            <td>
                                @testimonial.Position
                            </td>
                            <td>
                                <a asp-area="admin" asp-controller="card" asp-action="details" asp-route-id="@testimonial.Id" class="btn btn-primary">Details</a>
                                <a asp-area="admin" asp-controller="card" asp-action="update" asp-route-id="@testimonial.Id" class="btn btn-warning">Update</a>
                                <a asp-area="admin" asp-controller="card" asp-action="delete" asp-route-id="@testimonial.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>